test {
    font-size: 200%;
}

h1 {
    font-size: 600%;
    margin: 0;
    padding: 20px;
}

h2 {
    font-size: 250%;
    padding: 20px;
    margin: 0;
}

h3 {
    font-size: 150%;
    margin: 0;
    padding: 5px;
}

h4 {
    font-size: 125%;
    margin: 0;
    padding: 2px;
}

p {
    max-width: 500px;
    padding: 15px;
    text-align: left;
}

main {
    text-align: center;
    background-color: #F0EAD6;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace;
}

body {
    margin: 0;
}

html {
    background-color: #F0EAD6;
    border: none;
    padding: 0px;
    margin: 0;
}

ul {
    padding:0;
    width:100vw;
    text-align:center;
}

body {
    margin: 0;
}

button {
    padding: 10px;
    border: none;
    background-color: transparent;
}

.linker {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

.parent {
    justify-content: center;
    display: flex;
}
