test {
    font-size: 200%;
}

h1 {
    font-size: 600%;
    margin: 0;
}

h2 {
    font-size: 250%;
    padding: 20px;
    margin: 0;
}

h3 {
    font-size: 150%;
    margin: 0;
}

main {
    text-align: center;
    background-color: #F0EAD6;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

html {
    background-color: #F0EAD6;
    border: none;
    padding: 0px;
    margin: 0;
}

body {
    margin: 0;
}

button {
    padding: 10px;
    border: none;
    background-color: transparent;
}

.linker {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}


